<!DOCTYPE html>
<html>
  <head>
    <style>
      canvas {
        position: absolute;
      }
      .hallway {
        position: absolute;
      }
    </style>
  </head>
  <body>
    <button onclick="save_nodes()">Save all nodes</button>
    <img class="hallway" src="/image" />
    <canvas width="1728" height="2240"> </canvas>
    <script>
      
        console.log("hello");
        const canvas = document.getElementsByTagName("canvas")[0];
        const context = canvas.getContext("2d");
        context.moveTo(0, 0);
        context.lineTo(20, 20);
        context.strokeStyle = "red";
        context.stroke();
        let nodes_array = []
        let id_increment = 0
        canvas.addEventListener("mousedown", (current_click) => {
            const rect = canvas.getBoundingClientRect();
            let x = current_click.clientX - rect.left;
            let y = current_click.clientY - rect.top;
            context.beginPath();
            context.arc(x, y, 10, 0, 2 * Math.PI);
            context.strokeStyle = "green";
            context.fillStyle = "green";
            context.fill();
            context.stroke();
            let user_input = prompt("Node name: ")
            nodes_array.push({
              x: x,
              y: y,
              name: user_input,
              id: id_increment++,
              neighbor_nodes: []
            })
            console.log(nodes_array)
            
        });
        const save_nodes = () => {
          fetch("/save", {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify(nodes_array)
          }).then(data=>{return data.json()})
          .then(json=>{console.log(json)})
          .catch(err =>{console.log(err)})
        }
    </script>
  </body>
</html>
