<!DOCTYPE html>
<html>
  <head>
    <style>
      canvas {
        position: absolute;
      }
      .hallway {
        position: absolute;
      }
    </style>
  </head>
  <body>
    <img class="hallway" src="/image" />
    <canvas width="1728" height="2240"> </canvas>
    <input id="start" type = "text" placeholder="Enter Starting location">
    <input id="end" type = "text" placeholder="Enter Destination">
    <button onclick="find_directions()">Find Shortest Path</button>
    <script>
        console.log("hello");
        const canvas = document.getElementsByTagName("canvas")[0];
        const context = canvas.getContext("2d");
        const find_directions = () => {
          const starting_location = document.getElementById("start").value;
          const destination = document.getElementById("end").value;
          fetch("/get_directions", {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              "start-room": starting_location,
              "destination": destination
            })
          }).then(data=>{return data.json()})
          .then(json=>{console.log(json)})
          .catch(err =>{console.log(err)})
        }
    </script>
  </body>
</html>
